USE [production]
GO
/****** Object:  StoredProcedure [dbo].[p_admin_rename_user]    Script Date: 11/03/2021 2:30:33 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[p_admin_rename_user] @old_name		varchar(15),
                                @new_name		varchar(15),
                                @full_name	varchar(30)

as

/*
 * Declare Valiables
 */ 

/***************** REMOVED FOR SQL SERVER - NOT VALID ***********************/

return 0
GO
