/****** Object:  StoredProcedure [dbo].[p_inclusion_check_takeout]    Script Date: 12/03/2021 10:03:46 AM ******/
DROP PROCEDURE [dbo].[p_inclusion_check_takeout]
GO
/****** Object:  StoredProcedure [dbo].[p_inclusion_check_takeout]    Script Date: 12/03/2021 10:03:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create	proc [dbo].[p_inclusion_check_takeout]

as

declare		@error			int

return 0
GO
