/****** Object:  StoredProcedure [dbo].[p_dcmedia_batch_failures_report]    Script Date: 12/03/2021 10:03:47 AM ******/
DROP PROCEDURE [dbo].[p_dcmedia_batch_failures_report]
GO
/****** Object:  StoredProcedure [dbo].[p_dcmedia_batch_failures_report]    Script Date: 12/03/2021 10:03:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[p_dcmedia_batch_failures_report] 
AS

SET ANSI_NULLS OFF
GO
