/****** Object:  StoredProcedure [dbo].[p_cinetam_collect_movio_data_weekend_3]    Script Date: 12/03/2021 10:03:47 AM ******/
DROP PROCEDURE [dbo].[p_cinetam_collect_movio_data_weekend_3]
GO
/****** Object:  StoredProcedure [dbo].[p_cinetam_collect_movio_data_weekend_3]    Script Date: 12/03/2021 10:03:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[p_cinetam_collect_movio_data_weekend_3]	@screening_date    datetime,
																											@country_code		char(1)
																											

as

declare		@error						int

set nocount on

return 0
GO
