USE [production]
GO
/****** Object:  StoredProcedure [dbo].[p_run_cinetam_camp_pop_weekend]    Script Date: 11/03/2021 2:30:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[p_run_cinetam_camp_pop_weekend]		@mode								int,
																										@arg_screening_date	datetime,
																										@country_code					char(1)

as

declare		@screening_date		datetime,
					@error							int
					
declare		screening_date_csr cursor for				
select			distinct screening_date 
from			movie_history_weekend
where			isnull(attendance,0) <> 0 
and				screening_date >= '10-may-2012'
and				country = @country_code
and				((@mode = 1
and				screening_date not in (select distinct screening_date from cinetam_movie_history_weekend where country_code = @country_code))
or					(@mode = 2
and				screening_date = @arg_screening_date)
or					(@mode = 3))
order by		screening_date DESC

open screening_date_csr
fetch screening_date_csr into @screening_date
while(@@FETCH_STATUS=0)
begin

    print 'PROCESSING'
	print @screening_date
	
    print 'About to collect 1'
	exec  p_cinetam_close_campaigns_weekend @screening_date
    print 'Finished Collect - 1'
    print convert(varchar(50), getdate(), 109)
	
	fetch screening_date_csr into @screening_date
end

return 0
GO
