/****** Object:  StoredProcedure [dbo].[p_eom_create_tap_liability]    Script Date: 12/03/2021 10:03:47 AM ******/
DROP PROCEDURE [dbo].[p_eom_create_tap_liability]
GO
/****** Object:  StoredProcedure [dbo].[p_eom_create_tap_liability]    Script Date: 12/03/2021 10:03:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[p_eom_create_tap_liability]		@accounting_period					datetime

as

declare			@error										int
return 0
GO
