USE [production]
GO
/****** Object:  StoredProcedure [dbo].[p_target_film_team_create]    Script Date: 11/03/2021 2:30:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[p_target_film_team_create] @team_id			int,
                                       @fin_year		datetime,
                                       @remove_only	char(1)
as
set nocount on 
/*
 * Declare Procedure Variables
 */

declare @error          int,
        @rowcount			int

/*
 * Begin Transaction
 */

begin transaction

/*
 * Delete any existing Records
 */

delete film_team_year
 where team_id = @team_id and
       finyear_end = @fin_year

select @error = @@error
if ( @error !=0 )
begin
	rollback transaction
	return -1
end	

delete film_team_targets
  from film_team_targets ast,
       film_reporting_period frp
 where ast.team_id = @team_id and
       ast.sales_period = frp.report_period_end and
       frp.finyear_end = @fin_year

select @error = @@error
if ( @error !=0 )
begin
	rollback transaction
	return -1
end	

if(@remove_only = 'N')
begin

	/*
	 * Insert Year Record
	 */
	
	insert into film_team_year (
			 finyear_end,
			 team_id,
			 rep_quota,
			 annual_target,
			 monthly_target,
			 periods,
			 setup_complete )
			 values (
			 @fin_year,
			 @team_id,
			 0,
			 0,
			 0,
			 0,
			 'N' )
	
	select @error = @@error
	if ( @error !=0 )
	begin
		rollback transaction
		return -1
	end	
	
	/*
	 * Insert Target Records
	 */
	
	insert into film_team_targets (
			 team_id,
			 sales_period,
			 target_amount,
			 reps_this_period,
			 weeks )
	select @team_id,
			 sp.report_period_end,
			 0,
			 0,
			 round((datediff(day, sp.report_period_start, sp.report_period_end) / 7) + 1 ,0)       
	  from film_reporting_period sp
	 where sp.finyear_end = @fin_year
	
	select @error = @@error
	if ( @error !=0 )
	begin
		rollback transaction
		return -1
	end	

end

/*
 * Commit and Return
 */

commit transaction
return 0
GO
