USE [production]
GO
/****** Object:  StoredProcedure [dbo].[p_op_client_programming_list]    Script Date: 11/03/2021 2:30:34 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
Create  PROC [dbo].[p_op_client_programming_list]		@screening_date	datetime,
													   @country				char(1),
													   @filter				char(1),
													   @name_id				integer
as

/*
 * Select List
 */
  select fcp.campaign_no,
			fc.product_desc,
			fc.client_id,
			client.client_name,
			fc.agency_id,
			agency.agency_name,
			fc.agency_deal,
         'N' as print_cert,
         'N' as fax_cert,
			'N' as email_cert,
			fcp.fax,
			fcp.email,
			fcp.send_method,
			b.state_code,
			fcp.film_campaign_program_id,
			fc.rep_id,
			fcp.contact,
			fcp.company
    from film_campaign fc,
			client,
			agency,
			branch b,
			film_campaign_program fcp
	where fc.start_date <= @screening_date and
			fc.makeup_deadline >= @screening_date and
			fc.campaign_status <> 'P' and
			fc.branch_code = b.branch_code and 
			b.country_code = @country and
			fcp.campaign_no = fc.campaign_no and
			fc.client_id = client.client_id and 
			fc.agency_id = agency.agency_id and
			fc.business_unit_id = 6 and  --Retail
			fcp.active = 'Y' and
			((@filter = 'C' and client.client_id = @name_id) or
			 (@filter = 'A' and agency.agency_id = @name_id) or
			 (@filter = 'R' and fc.rep_id = @name_id) or
			 (@filter = '@')) 


return 0
GO
