USE [production]
GO
/****** Object:  StoredProcedure [dbo].[p_check_inclusion_spots]    Script Date: 11/03/2021 2:30:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create proc [dbo].[p_check_inclusion_spots]	@inclusion_id 		int,
									@no_spots			int OUTPUT

as

declare	@error				int



return 0
GO
