/****** Object:  View [dbo].[v_cpm_detailed]    Script Date: 12/03/2021 10:03:48 AM ******/
DROP VIEW [dbo].[v_cpm_detailed]
GO
/****** Object:  View [dbo].[v_cpm_detailed]    Script Date: 12/03/2021 10:03:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[v_cpm_detailed]
as
SELECT movie_type,
film_campaign.campaign_no,
film_campaign.product_desc,
screening_date,
sum(attendance	) as attendance,
sum(all_18_39) as all_18_39,
sum(all_25_54) as all_25_54, 
avg(tap_duration) as tap_duration,
avg(ff_aud_duration) as ff_aud_duration,
avg(ff_old_total_duration) as ff_old_total_duration, 
avg(mm_total_duration) asmm_total_duration , 
avg(ff_old_paid_duration) as ff_old_paid_duration, 
avg(mm_paid_duration) as mm_paid_duration, 
avg(ff_old_bonus_duration) as ff_old_bonus_duration, 
avg(mm_bonus_duration) as mm_bonus_duration, 
avg(agency_duration) as agency_duration , 
avg(direct_duration) as direct_duration, 
avg(showcase_duration) as showcase_duration, 
avg(cineads_duration) as cineads_duration, 
avg(avg_30seceqv_rate) as avg_30seceqv_rate, 
avg(avg_roadblock_30seceqv_rate) as avg_roadblock_30seceqv_rate, 
avg(avg_tap_30seceqv_rate) as avg_tap_30seceqv_rate, 
avg(avg_ff_aud_30seceqv_rate) as avg_ff_aud_30seceqv_rate, 
avg(avg_ff_old_30seceqv_rate) as avg_ff_old_30seceqv_rate, 
avg(avg_mm_30seceqv_rate) as avg_mm_30seceqv_rate, 
avg(avg_rate) as avg_rate, 
avg(avg_roadblock_rate) as avg_roadblock_rate, 
avg(avg_tap_rate) as avg_tap_rate, 
avg(avg_ff_aud_rate) as avg_ff_aud_rate, 
avg(avg_ff_old_rate) as avg_ff_old_rate, 
avg(avg_mm_rate) as avg_mm_rate, 
sum(total_revenue_30seceqv) as total_revenue_30seceqv, 
sum(roadblock_revenue_30seceqv) as roadblock_revenue_30seceqv, 
sum(tap_revenue_30seceqv) as tap_revenue_30seceqv, 
sum(ff_aud_revenue_30seceqv) as ff_aud_revenue_30seceqv, 
sum(ff_old_revenue_30seceqv) as ff_old_revenue_30seceqv, 
sum(mm_revenue_30seceqv) as mm_revenue_30seceqv, 
sum(total_revenue) as total_revenue, 
sum(roadblock_revenue) as roadblock_revenue, 
sum(tap_revenue) as tap_revenue, 
sum(ff_aud_revenue) as ff_aud_revenue, 
sum(ff_old_revenue) as ff_old_revenue, 
sum(mm_revenue) as mm_revenue, 
sum(agency_revenue) as agency_revenue, 
sum(direct_revenue) as direct_revenue, 
sum(showcase_revenue) as showcase_revenue, 
sum(cineads_revenue) as cineads_revenue, 
benchmark_end,
cal_year,
cal_qtr,
fin_year,
fin_qtr,
cal_half,
fin_half,
country_code,
sum(agency_roadblock_spots) as agency_roadblock_spots, 
sum(agency_tap_spots) as agency_tap_spots, 
sum(agency_ff_aud_spots) as agency_ff_aud_spots, 
sum(agency_ff_old_total_spots) as agency_ff_old_total_spots, 
sum(agency_mm_total_spots) as agency_mm_total_spots, 
sum(agency_ff_old_paid_spots) as agency_ff_old_paid_spots, 
sum(agency_mm_paid_spots) as agency_mm_paid_spots, 
sum(agency_ff_old_bonus_spots) as agency_ff_old_bonus_spots, 
sum(agency_mm_bonus_spots) as agency_mm_bonus_spots, 
sum(agency_roadblock_revenue) as agency_roadblock_revenue, 
sum(agency_tap_revenue) as agency_tap_revenue, 
sum(agency_ff_aud_revenue) as agency_ff_aud_revenue, 
sum(agency_ff_old_revenue) as agency_ff_old_revenue, 
sum(agency_mm_revenue) as agency_mm_revenue, 
sum(agency_roadblock_revenue_30seceqv) as agency_roadblock_revenue_30seceqv, 
sum(agency_tap_revenue_30seceqv) as agency_tap_revenue_30seceqv, 
sum(agency_ff_aud_revenue_30seceqv) as agency_ff_aud_revenue_30seceqv, 
sum(agency_ff_old_revenue_30seceqv) as agency_ff_old_revenue_30seceqv, 
sum(agency_mm_revenue_30seceqv) as agency_mm_revenue_30seceqv, 
sum(direct_roadblock_spots) as direct_roadblock_spots, 
sum(direct_tap_spots) as direct_tap_spots, 
sum(direct_ff_aud_spots) as direct_ff_aud_spots, 
sum(direct_ff_old_total_spots) as direct_ff_old_total_spots, 
sum(direct_mm_total_spots) as direct_mm_total_spots, 
sum(direct_ff_old_paid_spots) as direct_ff_old_paid_spots, 
sum(direct_mm_paid_spots) as direct_mm_paid_spots, 
sum(direct_ff_old_bonus_spots) as direct_ff_old_bonus_spots, 
sum(direct_mm_bonus_spots) as direct_mm_bonus_spots, 
sum(direct_roadblock_revenue) as direct_roadblock_revenue, 
sum(direct_tap_revenue) as direct_tap_revenue, 
sum(direct_ff_aud_revenue) as direct_ff_aud_revenue, 
sum(direct_ff_old_revenue) as direct_ff_old_revenue, 
sum(direct_mm_revenue) as direct_mm_revenue, 
sum(direct_roadblock_revenue_30seceqv) as direct_roadblock_revenue_30seceqv, 
sum(direct_tap_revenue_30seceqv) as direct_tap_revenue_30seceqv, 
sum(direct_ff_aud_revenue_30seceqv) as direct_ff_aud_revenue_30seceqv, 
sum(direct_ff_old_revenue_30seceqv) as direct_ff_old_revenue_30seceqvv,
sum(direct_mm_revenue_30seceqv) as direct_mm_revenue_30seceqv, 
sum(showcase_roadblock_spots) as showcase_roadblock_spots,
sum(showcase_tap_spots) as showcase_tap_spots, 
sum(showcase_ff_aud_spots) as showcase_ff_aud_spots, 
sum(showcase_ff_old_total_spots) as showcase_ff_old_total_spots, 
sum(showcase_mm_total_spots) as showcase_mm_total_spots, 
sum(showcase_ff_old_paid_spots) as showcase_ff_old_paid_spots, 
sum(showcase_mm_paid_spots) as showcase_mm_paid_spots, 
sum(showcase_ff_old_bonus_spots) as showcase_ff_old_bonus_spots, 
sum(showcase_mm_bonus_spots) as showcase_mm_bonus_spots , 
sum(showcase_roadblock_revenue) as showcase_roadblock_revenue, 
sum(showcase_tap_revenue) as showcase_tap_revenue, 
sum(showcase_ff_aud_revenue) as showcase_ff_aud_revenue, 
sum(showcase_ff_old_revenue) as showcase_ff_old_revenue, 
sum(showcase_mm_revenue) as showcase_mm_revenue, 
sum(showcase_roadblock_revenue_30seceqv) as showcase_roadblock_revenue_30seceqv, 
sum(showcase_tap_revenue_30seceqv) as showcase_tap_revenue_30seceqv,
sum(showcase_ff_aud_revenue_30seceqv) as showcase_ff_aud_revenue_30seceqv,
sum(showcase_ff_old_revenue_30seceqv) as showcase_ff_old_revenue_30seceqv,
sum(showcase_mm_revenue_30seceqv) as showcase_mm_revenue_30seceqv,
ltrim(rtrim(film_campaign.contact)) as contact,
agency_name,
agency_group_name,
buying_group_desc,
product_category_desc,
product_subcategory_desc,
business_unit_desc,
client_name,
entry_date,
confirmation_date
FROM complex_cpm_charge
inner join film_campaign on complex_cpm_charge.campaign_no = film_campaign.campaign_no
inner join business_unit on film_campaign.business_unit_id = business_unit.business_unit_id
inner join client on film_campaign.client_id = client.client_id
inner join agency on film_campaign.agency_id = agency.agency_id
inner join agency_groups on agency.agency_group_id = agency_groups.agency_group_id
inner join agency_buying_groups on agency_groups.buying_group_id = agency_buying_groups.buying_group_id
inner join v_campaign_product on film_campaign.campaign_no =  v_campaign_product.campaign_no
inner join product_category on v_campaign_product.product_category_id = product_category.product_category_id
left outer join v_campaign_subproduct on film_campaign.campaign_no = v_campaign_subproduct.campaign_no
left outer join product_subcategory on v_campaign_subproduct.product_category_id = product_subcategory.product_subcategory_id
left outer join v_statrev_first_revision on film_campaign.campaign_no = v_statrev_first_revision.campaign_no
group by movie_type,
film_campaign.campaign_no,
film_campaign.product_desc,
screening_date,
ltrim(rtrim(film_campaign.contact)),
agency_name,
agency_group_name,
buying_group_desc,
benchmark_end,
cal_year,
cal_qtr,
fin_year,
fin_qtr,
cal_half,
fin_half,
country_code,
product_category_desc,
product_subcategory_desc,
business_unit_desc,
client_name,
entry_date,
confirmation_date

GO
