USE [production]
GO
/****** Object:  View [dbo].[v_movio_data_post_analysis_test]    Script Date: 11/03/2021 2:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




create	view	[dbo].[v_movio_data_post_analysis_test]
as
select				movie_code, 
						complex_id, 
						screening_date, 
						cinetam_demographics_id, 
						country_code,
						count(distinct membership_id) as unique_people, 
						sum(unique_transactions) as unique_transactions  
from				v_movio_data_demo_fsd_test 
group by			movie_code, 
						complex_id, 
						screening_date, 
						cinetam_demographics_id,
						country_code


GO
