USE [production]
GO
/****** Object:  View [dbo].[v_cinetam_movie_details]    Script Date: 11/03/2021 2:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create view [dbo].[v_cinetam_movie_details]
as
select			temp_table.long_name, 
					temp_table.movie_id,
					temp_table.screening_date,
					datepart(yy, temp_table.screening_date) as screening_year,
					temp_table.classification_code, 
					temp_table.classification_desc,
					temp_table.complex_region_class,
					temp_table.cinetam_demographics_desc,
					sum(temp_table.no_movies) as no_movies,
					sum(temp_table.cinetam_attendance) as cinetam_attendance,
					sum(temp_table.female_14_17) as female_14_17,
					sum(temp_table.female_18_24) as female_18_24,
					sum(temp_table.female_25_29) as female_25_29,
					sum(temp_table.female_30_39) as female_30_39,
					sum(temp_table.female_40_54) as female_40_54,
					sum(temp_table.female_55_64) as female_55_64,
					sum(temp_table.female_65_74) as female_65_74,
					sum(temp_table.female_75_plus) as female_75_plus,
					sum(temp_table.male_14_17) as male_14_17,
					sum(temp_table.male_18_24) as male_18_24,
					sum(temp_table.male_25_29) as male_25_29,
					sum(temp_table.male_30_39) as male_30_39,
					sum(temp_table.male_40_54) as male_40_54,
					sum(temp_table.male_55_64) as male_55_64,
					sum(temp_table.male_65_74) as male_65_74,
					sum(temp_table.male_75_plus) as male_75_plus,
					sum(temp_table.female_14_24) as female_14_24,
					sum(temp_table.female_18_39) as female_18_39,
					sum(temp_table.female_25_54) as female_25_54,
					sum(temp_table.male_14_24) as male_14_24,
					sum(temp_table.male_18_39) as male_18_39,
					sum(temp_table.male_25_54) as male_25_54,
					sum(temp_table.all_14_17) as all_14_17,
					sum(temp_table.all_18_24) as all_18_24,
					sum(temp_table.all_25_29) as all_25_29,
					sum(temp_table.all_30_39) as all_30_39,
					sum(temp_table.all_40_54) as all_40_54,
					sum(temp_table.all_55_64) as all_55_64,
					sum(temp_table.all_65_74) as all_65_74,
					sum(temp_table.all_75_plus) as all_75_plus,
					sum(temp_table.all_14_24) as all_14_24,
					sum(temp_table.all_18_39) as all_18_39,
					sum(temp_table.all_25_54) as all_25_54
	from		(select			movie.long_name, 
											cinetam_movie_history.movie_id,
											cinetam_movie_history.screening_date,
											classification.classification_code, 
											classification.classification_desc,
											complex_region_class,
											count(occurence) as no_movies,
											datepart(yy,cinetam_movie_history.screening_date) as screening_year,
											datepart(wk, cinetam_movie_history.screening_date) as screening_week,
											cinetam_movie_history.cinetam_demographics_id,
											sum(cinetam_movie_history.attendance) as cinetam_attendance,
											avg(cinetam_movie_history.weighting) as weighting,
											cinetam_demographics.cinetam_demographics_desc ,
											sum((case cinetam_movie_history.cinetam_demographics_id when 9 then cinetam_movie_history.attendance else 0 end)) as 'female_14_17',
											sum((case cinetam_movie_history.cinetam_demographics_id when 10 then cinetam_movie_history.attendance else 0 end)) as 'female_18_24',
											sum((case cinetam_movie_history.cinetam_demographics_id when 11 then cinetam_movie_history.attendance else 0 end)) as 'female_25_29',
											sum((case cinetam_movie_history.cinetam_demographics_id when 12 then cinetam_movie_history.attendance else 0 end)) as 'female_30_39',
											sum((case cinetam_movie_history.cinetam_demographics_id when 13 then cinetam_movie_history.attendance else 0 end)) as 'female_40_54',
											sum((case cinetam_movie_history.cinetam_demographics_id when 14 then cinetam_movie_history.attendance else 0 end)) as 'female_55_64',
											sum((case cinetam_movie_history.cinetam_demographics_id when 15 then cinetam_movie_history.attendance else 0 end)) as 'female_65_74',
											sum((case cinetam_movie_history.cinetam_demographics_id when 16 then cinetam_movie_history.attendance else 0 end)) as 'female_75_plus',
											sum((case cinetam_movie_history.cinetam_demographics_id when 1 then cinetam_movie_history.attendance else 0 end)) as 'male_14_17',
											sum((case cinetam_movie_history.cinetam_demographics_id when 2 then cinetam_movie_history.attendance else 0 end)) as 'male_18_24',
											sum((case cinetam_movie_history.cinetam_demographics_id when 3 then cinetam_movie_history.attendance else 0 end)) as 'male_25_29',
											sum((case cinetam_movie_history.cinetam_demographics_id when 4 then cinetam_movie_history.attendance else 0 end)) as 'male_30_39',
											sum((case cinetam_movie_history.cinetam_demographics_id when 5 then cinetam_movie_history.attendance else 0 end)) as 'male_40_54',
											sum((case cinetam_movie_history.cinetam_demographics_id when 6 then cinetam_movie_history.attendance else 0 end)) as 'male_55_64',
											sum((case cinetam_movie_history.cinetam_demographics_id when 7 then cinetam_movie_history.attendance else 0 end)) as 'male_65_74',
											sum((case cinetam_movie_history.cinetam_demographics_id when 8 then cinetam_movie_history.attendance else 0 end)) as 'male_75_plus',
											sum((case cinetam_movie_history.cinetam_demographics_id when 9 then cinetam_movie_history.attendance when 10 then cinetam_movie_history.attendance else 0 end)) as 'female_14_24',
											sum((case cinetam_movie_history.cinetam_demographics_id when 10 then cinetam_movie_history.attendance when 11 then cinetam_movie_history.attendance when 12 then cinetam_movie_history.attendance else 0 end)) as 'female_18_39',
											sum((case cinetam_movie_history.cinetam_demographics_id when 11 then cinetam_movie_history.attendance when 12 then cinetam_movie_history.attendance when 13 then cinetam_movie_history.attendance else 0 end)) as 'female_25_54',
											sum((case cinetam_movie_history.cinetam_demographics_id when 1 then cinetam_movie_history.attendance when 2 then cinetam_movie_history.attendance else 0 end)) as 'male_14_24',
											sum((case cinetam_movie_history.cinetam_demographics_id when 2 then cinetam_movie_history.attendance when 3 then cinetam_movie_history.attendance when 4 then cinetam_movie_history.attendance else 0 end)) as 'male_18_39',
											sum((case cinetam_movie_history.cinetam_demographics_id when 3 then cinetam_movie_history.attendance when 4 then cinetam_movie_history.attendance when 5 then cinetam_movie_history.attendance else 0 end)) as 'male_25_54',
											sum((case cinetam_movie_history.cinetam_demographics_id when 1 then cinetam_movie_history.attendance when 9 then cinetam_movie_history.attendance else 0 end)) as 'all_14_17',
											sum((case cinetam_movie_history.cinetam_demographics_id when 2 then cinetam_movie_history.attendance when 10 then cinetam_movie_history.attendance else 0 end)) as 'all_18_24',
											sum((case cinetam_movie_history.cinetam_demographics_id when 3 then cinetam_movie_history.attendance when 11 then cinetam_movie_history.attendance else 0 end)) as 'all_25_29',
											sum((case cinetam_movie_history.cinetam_demographics_id when 4 then cinetam_movie_history.attendance when 12 then cinetam_movie_history.attendance else 0 end)) as 'all_30_39',
											sum((case cinetam_movie_history.cinetam_demographics_id when 5 then cinetam_movie_history.attendance when 13 then cinetam_movie_history.attendance else 0 end)) as 'all_40_54',
											sum((case cinetam_movie_history.cinetam_demographics_id when 6 then cinetam_movie_history.attendance when 14 then cinetam_movie_history.attendance else 0 end)) as 'all_55_64',
											sum((case cinetam_movie_history.cinetam_demographics_id when 7 then cinetam_movie_history.attendance when 15 then cinetam_movie_history.attendance else 0 end))as 'all_65_74',
											sum((case cinetam_movie_history.cinetam_demographics_id when 8 then cinetam_movie_history.attendance when 16 then cinetam_movie_history.attendance else 0 end)) as 'all_75_plus',
											sum((case cinetam_movie_history.cinetam_demographics_id when 1 then cinetam_movie_history.attendance when 2 then cinetam_movie_history.attendance when 9 then cinetam_movie_history.attendance when 10 then cinetam_movie_history.attendance else 0 end)) as 'all_14_24',
											sum((case cinetam_movie_history.cinetam_demographics_id when 2 then cinetam_movie_history.attendance when 3 then cinetam_movie_history.attendance when 4 then cinetam_movie_history.attendance when 10 then cinetam_movie_history.attendance when 11 then cinetam_movie_history.attendance when 12 then cinetam_movie_history.attendance else 0 end)) as 'all_18_39',
											sum((case cinetam_movie_history.cinetam_demographics_id when 3 then cinetam_movie_history.attendance when 4 then cinetam_movie_history.attendance when 5 then cinetam_movie_history.attendance when 11 then cinetam_movie_history.attendance when 12 then cinetam_movie_history.attendance when 13 then cinetam_movie_history.attendance else 0 end)) as 'all_25_54',
											(select sum(attendance) from movie_history where complex_id = cinetam_movie_history.complex_id and movie_id = cinetam_movie_history.movie_id and screening_date = cinetam_movie_history.screening_date) as all_people_attendance
						from			cinetam_movie_history, 
											movie,
											cinetam_demographics,
											movie_country, 
											complex,
											film_market,
											classification
						where			cinetam_movie_history.movie_id = movie.movie_id
						and				cinetam_movie_history.cinetam_demographics_id = cinetam_demographics.cinetam_demographics_id
						and				movie.movie_id = movie_country.movie_id
						and				movie_country.country_code = 'A'
						and				cinetam_movie_history.complex_id = complex.complex_id
						and				complex.film_market_no = film_market.film_market_no
						and				movie_country.classification_id = classification.classification_id
						group by		movie.long_name, 
											cinetam_movie_history.movie_id,
											cinetam_movie_history.screening_date,
											classification.classification_code, 
											classification.classification_desc,
											complex_region_class,
											classification.classification_code, 
											classification.classification_desc,
											cinetam_movie_history.complex_id,
											cinetam_movie_history.cinetam_demographics_id,
											cinetam_demographics.cinetam_demographics_desc) as temp_table
group by 	temp_table.long_name, 
					temp_table.movie_id,
					temp_table.screening_date,
					temp_table.classification_code, 
					temp_table.classification_desc,
					temp_table.complex_region_class,
					temp_table.cinetam_demographics_desc
GO
