USE [production]
GO
/****** Object:  View [dbo].[v_cinetam_film_campaign_detailed]    Script Date: 11/03/2021 2:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE view [dbo].[v_cinetam_film_campaign_detailed]
as
select			film_campaign.campaign_no, 
				convert(char(6), film_campaign.campaign_no) + ' - ' + film_campaign.product_desc as campaign_desc,
				cinetam_demographics.cinetam_demographics_desc,
				cinetam_movie_history.screening_date,
				movie.long_name,
				sum(cinetam_movie_history.attendance) as attendance
from			film_campaign,
				movie_history,
				v_certificate_item_distinct,
				campaign_spot,
				cinetam_movie_history,
				cinetam_demographics,
				movie
where			film_campaign.campaign_no = campaign_spot.campaign_no
and				campaign_spot.spot_id = v_certificate_item_distinct.spot_reference
and				v_certificate_item_distinct.certificate_group = movie_history.certificate_group
and				cinetam_movie_history.cinetam_demographics_id = cinetam_demographics.cinetam_demographics_id
and				movie.movie_id = movie_history.movie_id
and				movie.movie_id = cinetam_movie_history.movie_id
and				movie_history.attendance is not null
and				movie_history.attendance > 0 
and				campaign_spot.screening_date  > '5-jul-2012'
and				movie_history.screening_date  >  '5-jul-2012'
and				movie_history.complex_id = cinetam_movie_history.complex_id
and				movie_history.movie_id = cinetam_movie_history.movie_id
and				movie_history.screening_date = cinetam_movie_history.screening_date
and				movie_history.occurence = cinetam_movie_history.occurence
and				movie_history.print_medium = cinetam_movie_history.print_medium
and				movie_history.three_d_type = cinetam_movie_history.three_d_type
and				spot_status = 'X'
group by 		film_campaign.campaign_no,
				film_campaign.product_desc,
				movie.long_name,
				cinetam_demographics.cinetam_demographics_desc,
				cinetam_movie_history.screening_date
union
select 			film_campaign.campaign_no, 
				convert(char(6), film_campaign.campaign_no) + ' - ' + film_campaign.product_desc as campaign_desc,
				'All People' as cinetam_demographics_desc,
				movie_history.screening_date,
				movie.long_name,
				sum(movie_history.attendance) as attendance
				from			film_campaign,
				movie_history,
				v_certificate_item_distinct,
				campaign_spot,
				movie
where			film_campaign.campaign_no = campaign_spot.campaign_no
and				campaign_spot.spot_id = v_certificate_item_distinct.spot_reference
and				v_certificate_item_distinct.certificate_group = movie_history.certificate_group
and				movie.movie_id = movie_history.movie_id
and				movie_history.attendance is not null
and				movie_history.attendance > 0 
and				campaign_spot.screening_date  > '5-jul-2012'
and				movie_history.screening_date  >  '5-jul-2012'
and				spot_status = 'X'
group by 		film_campaign.campaign_no,
				film_campaign.product_desc,
				movie.long_name,movie_history.screening_date

GO
