USE [production]
GO
/****** Object:  View [dbo].[v_cinatt_mh_matched_attendance]    Script Date: 11/03/2021 2:30:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE VIEW [dbo].[v_cinatt_mh_matched_attendance]
AS

    select  movie_id 'movie_id',
            complex_id 'complex_id',            
            screening_date 'screening_date',
            attendance 'attendance_per_movie',
            ( select count(occurence) from movie_history
              where complex_id = cinema_attendance.complex_id
              and movie_id = cinema_attendance.movie_id
              and screening_date = cinema_attendance.screening_date ) 'prints' ,    
            (select case count(occurence) when 0 then 0 else cinema_attendance.attendance / count(occurence) end from movie_history
             where complex_id = cinema_attendance.complex_id
             and movie_id = cinema_attendance.movie_id
             and screening_date = cinema_attendance.screening_date) 'attendance_per_print' ,
            country 'country_code'
    from    cinema_attendance
GO
